/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@500&display=swap');

/* css reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* css variables */

:root {
	/* main color palette */
	--color-light: #f5f5f5;
	--color-light-dark-100: #1d1d1d;
	--color-light-dark-200: #161514;
	--color-dark: #0a0a0a;
	--color-primary-100: #2dd4bf;
	--color-primary-200: #134e4a;
	--color-secondary-100: #a855f7;
	--color-secondary-200: #3b0764;
	/* label color palette */
	--color-family: #f9a8d4;
	--color-friends: #7dd3fc;
	--color-work: #fde047;
	/* typography */
	--font-primary: 'Poppins', sans-serif;
	--font-secondary: 'Source Code Pro', monospace;
	/* shadow */
	--shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	/* transition */
	--transition: all 200ms ease;
}

/* general tags */

body {
	font-family: var(--font-primary);
	color: var(--color-light);
	background: linear-gradient(180deg, #0c0a09 0%, #171717 100%);
	overflow: hidden;
}

main {
	width: 50%;
	height: 93vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

input {
	font-family: var(--font-primary);
	border: 0;
	border-radius: 5px;
}

footer {
	height: 7vh;
	border-top: 1px solid var(--color-light-dark-100);
}

/* reusable classes */

.container {
	margin: 0 auto;
}

.btn {
	width: 40px;
	height: 40px;
	font-family: var(--font-primary);
	font-size: 1rem;
	border: 0;
	border-radius: 5px;
	transition: var(--transition);
	cursor: pointer;
}

/* main content */

.main-container {
	width: 100%;
	text-align: center;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title h1 {
	font-family: var(--font-secondary);
	font-size: 2.5rem;
}

.add-btn {
	color: var(--color-primary-100);
	border: 2px solid var(--color-primary-100);
	background-color: transparent;
}

.add-btn:hover {
	color: var(--color-dark);
	background-color: var(--color-primary-100);
}

/* contacts card */

.contacts-container {
	padding: 1.5rem;
	margin-top: 1.5rem;
	border: 2px solid var(--color-light-dark-100);
	border-radius: 10px;
	background-color: var(--color-light-dark-200);
	box-shadow: inset var(--shadow);
	overflow-y: auto;
}

/* no contacts state */

.no-contacts {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #514d4a;
}

.no-contacts h2 {
	font-weight: 300;
	font-size: 1rem;
}

.no-contacts i {
	margin: 0 0.3rem;
	font-size: 1rem;
}

/* add contact modal form */

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.add-modal-form {
	position: fixed;
	top: 7rem;
	left: 50%;
	border: 2px solid var(--color-primary-100);
	border-radius: 10px;
	background-color: var(--color-light-dark-100);
	box-shadow: var(--shadow);
	transform: translateX(-50%);
	overflow: hidden;
	z-index: 11;
}

.add-modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 1.2rem 1.5rem;
	font-family: var(--font-secondary);
	border: 2px solid var(--color-primary-100);
	background-color: var(--color-primary-100);
}

.add-modal-header h2 {
	font-size: 2rem;
	color: var(--color-light-dark-100);
}

.close-btn {
	font-size: 1.3rem;
	color: var(--color-primary-200);
	border: 2px solid var(--color-primary-200);
	background: transparent;
}

.close-btn:hover {
	color: var(--color-primary-100);
	background-color: var(--color-primary-200);
}

.add-modal-main {
	max-width: 500px;
	max-height: 580px;
	padding: 1.2rem 2.4rem 1rem;
}

.add-modal-form-row {
	margin-bottom: 1.2rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.3rem;
}

.add-modal-form-col label {
	display: block;
	margin-bottom: 0.4rem;
	font-weight: 300;
	font-size: 0.9rem;
}

.add-modal-form-col input {
	width: 100%;
	height: 40px;
	padding: 0 0.8rem;
	color: var(--color-dark);
}

.add-modal-form-col input:focus {
	outline-color: var(--color-light-dark-100);
}

.add-modal-form-col-radio {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
	padding: 0.8rem 1.5rem;
	margin: 2rem 0;
	border: 2px solid var(--color-light-dark-200);
	border-radius: 5px;
	background-color: var(--color-light-dark-200);
	box-shadow: inset 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
}

.add-modal-form-col-radio label {
	margin-left: 0.2rem;
	font-weight: 300;
	font-size: 0.9rem;
}

.add-modal-form-col input:invalid {
	outline-color: #dc2626;
}

.btn-row {
	text-align: center;
}

.save-btn {
	width: 100px;
	background-color: var(--color-primary-100);
}

.save-btn:hover {
	background-color: var(--color-secondary-100);
}

/* saved contacts state */

/* search bar */

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.search input {
	width: 90%;
	height: 40px;
	padding: 0 0.8rem;
	color: #1c1917;
}

.search input:focus {
	outline-color: #1c1917;
}

.search-btn {
	color: var(--color-light);
	border: 2px solid var(--color-light);
	background-color: transparent;
}

.filter-btn {
	color: var(--color-light);
	border: 2px solid var(--color-light);
	background-color: transparent;
}

/* contacts saved */

/* delete contact modal */

/* footer */

.footer-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-container p {
	font-weight: 200;
	font-size: 0.8rem;
	letter-spacing: 1px;
}
